html {
    background-color: #fffdf8;
}

body {
    margin: 2rem auto;
    color: rgb(77, 75, 70);
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 65%;
    max-width: 60rem;
}

header {
  line-height: 1;
}


a {
   color: rgb(0, 119, 170);
   text-decoration: none;
}

a:hover {
    border-bottom: 0.063rem solid rgb(0, 119, 170);
}


/* Dark mode */
@media (prefers-color-scheme: dark) {

  html {
      background-color: rgb(0 6 26);
  }

  body {
    color: rgb(195 203 227);
  }

  a {
    color: rgb(0, 208, 255);
    border-bottom: 0.063rem solid rgb(0, 208, 255);
  }

}
